@media (max-width: 1000px) {
  #intro-section .container .intro-content {
    h2 {
      font-size: 3rem;
      width: 100%;
    }

    h5 {
      font-size: 1.5rem;
    }
  }

  #catalog-section .container .vehicles-div {
    grid-template-columns: auto auto;
    max-width: 800px;
    margin: auto;
  }

  #pricing-section .container table { width: 400px; }

  footer .container {
    h4 { text-align: center;}

    .row {
      flex-direction: column;
      align-items: center;
      
      address { text-align: center; }
    }

  }
}

