@media (max-width: 500px) {
  header {
    flex-direction: column;
    gap: 0;
    position: static;

    .location {
      width: 100%;
    }

    ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem 1rem;
    }
  }

  #home {
    background: #000;
    height: auto;
    padding: 4rem 0.5rem;
    height: auto;
    min-height: auto;

    .container {
      background: none;
      position: static;

      h1 {
        font-size: 2rem;
      }

      h6 {
        font-size: 1rem;
      }
    }
  }

  #buttons {
    padding: 1rem 0.5rem;

    .container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5rem;

      a {
        font-size: 0.8rem;
        padding: 0.5rem;
      }
    }
  }

  #apartments {
    padding: 2rem 0.5rem;

    .container {
      grid-template-columns: auto;

      article .apartment-details {
        top: 0;
      }
    }
  }

  #pricing {
    padding: 2rem 0.5rem;

    .container {
      table {
        display: none;
      }
  
      a {
        display: inline-block;
      }
    }
  }

  #contact {
    padding: 2rem 0.5rem;

    .container {
      #map iframe {
        width: 300px;
        max-width: 100%;
        height: 240px;
      }

      form .form-group {
        flex-direction: column;
      }
    }
  }

  footer {
    padding: 1rem 0.5rem;
  }
}