@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

$color-primary: #206a5d;
$color-primary-light: #bfdcae;
$color-secondary: #ff4b5c;

$font-text: 'Roboto', sans-serif;
$font-title: 'Fredoka One', cursive;