@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-primary: #f38181;
$color-secondary: #374249;
$color-light: #f3f3f3;
$color-text: #797979;
$color-title: #374249;

$font: 'Roboto', sans-serif;