@media (max-width: 1000px) {
  #intro {

    .intro-bottom .container {
      h1 { font-size: 3.5rem; }
      p { font-size: 1.2rem; }
    }
  }

  #our-story .container p {
    column-count: 1;
  }

  #contact .container .row {
    flex-direction: column-reverse;
    align-items: center;

    form {
      width: 500px;
      max-width: 100%;
    }
  }
}