@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif&display=swap');

$font-text: 'Noto Serif', serif;
$font-title: 'Bebas Neue', cursive;

$color-primary: #913535;
$color-secondary: #283148;
$color-bg: #e9eec9;
$color-dark: #000;
$color-light: #f3f3f3;