@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap');

$color-primary: #f5564e;
$color-secondary: #fab95b;
$color-dark: #122631;
$color-light: #e8e2db;

$font-text: 'Open Sans Condensed', sans-serif;
$font-title: 'Staatliches', cursive;