@media (max-width: 1200px) {
  header .container {
    justify-content: space-around;
  }

  #sec2 .container {
    width: 700px;   
    column-gap: 0;
  }

  #sec2 .container .item {
    flex-direction: column;
    gap: 1.5rem;
  }

  #sec3 .container {
    width: 700px;
  }
}

